<div class="col-6 col-md-2">
    <h2>Регистрация нового пользователя</h2>
    <form novalidate ng-submit="tryToRegisterUserAccount()">
        <div class="form-floating input-group-sm">

            <div class="form-floating input-group-sm">
            <input id="navLoginField" class="form-control" ng-model="user.username" type="text">
            <label for="navLoginField">Имя пользователя</label>

            </div>
            <p></p>
            <div class="form-floating input-group-sm">
            <input id="navEmailField" class="form-control" ng-model="user.email" type="email">
            <label for="navEmailField">Email пользователя</label>
            </div>
            <p></p>

            <div class="form-floating input-group-sm">
            <input id="navPasswordField" class="form-control" ng-model="user.password" type="password">
            <label for="navPasswordField">Паспорт пользователя</label>
            </div>
            <p></p>

            <div class="form-floating input-group-sm">
            <input id="navMatchingPasswordField" class="form-control" ng-model="user.matchingPassword" type="password">
            <label for="navMatchingPasswordField">Повторить паспорт пользователя</label>
            </div>
            <p></p>

            <button id="navLoginSubmit" class="btn btn-outline-warning btn-sm"
                    style="width: 100%;" type="submit">Зарегистрировать
            </button>
        </div>
    </form>
</div>
